*.tar.gz
prometheus-*/
node_exporter-*/
*.log
prometheus-*.tar.gz
terraform.tfvars
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfplan
*.auto.tfvars
*.auto.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
secret.vault.yml
vault_pass.txt
*.vault.yml
*.vault.yaml
# IDE
.vscode/

# Ansible
*.retry

# Python
__pycache__/
*.pyc
