proxmox_host      = "192.168.1.1"
proxmox_node      = "proxmox"

nextcloud_vm = {
  vmid      = 110
  hostname  = "nextcloud"
  cores     = 2
  memory    = 4096
  swap      = 0
  ip_config = "192.168.1.11/24"
}
